.abtn {
  color: grey;
  font-weight: bolder;
  font-size: 20px;
}
.abtn:hover {
  cursor: default;
  color: grey !important;
}

.abtn:focus {
  outline: none;
  box-shadow: none;
}

.homebtn:focus {
  outline: none;
  box-shadow: none;
}

.homebtn:hover {
  color: grey !important;
}

.homebtn {
  color: grey;
}

.navbar {
  border: 1px solid grey;
}
